@font-face {
  font-family: 'angelina';
  src: url(angelina.TTF);
}
@font-face {
  font-family: 'code';
  src: url(code-light.otf);
}
@font-face {
  font-family: 'bebas';
  src: url(BebasNeue-Regular.ttf);
}

.bd {
  border: 2px solid red;
}

.bg-img {
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}